/* .add-item-to-page-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  display: block;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.add-item-to-page-overlay .add-item-button button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
}

.add-item-to-page-overlay .form-box.search {
  width: 400px;
}

.add-item-to-page-overlay .search-item {
  background-color: white;
  margin: 32px auto;
  overflow: auto;
  position: relative;
  width: 950px;
}

.add-item-to-page-overlay .search-item .close {
  background: none;
  border: none;
  color: #EF4E22;
  cursor: pointer;
  font-size: 28px;
  margin: 8px;
  position: absolute;
  right: 0;
}

.add-item-to-page-overlay .search-item .close .hover {
  display: none;
}
.add-item-to-page-overlay .search-item .close:hover .hover {
  display: block;
}
.add-item-to-page-overlay .search-item .close:hover .default {
  display: none;
}

.add-item-to-page-overlay .search-item-result {
  width: 560px;
}

.add-item-to-page-overlay .search-item-result form {
  align-items: center;
  display: flex;
  justify-content: center;
} */

/* .add-item-to-page-overlay .search-item-result .item-result {
  padding: 8px
} */

/* CSS dos itens? */
/* .add-item-to-page-overlay .search-item-result .item-result .card {
  height: 208px;
  width: 164px;
}

.add-item-to-page-overlay .search-item-result .item-result .card .item {
  height: 100%;
  width: 100%;
}

.add-item-to-page-overlay .search-item-result .item-result
.card .item > * {
  align-items: center;
  display: flex;
  justify-content: center;
}
.add-item-to-page-overlay .search-item-result .item-result
.card .item .name {
  height: 20%;
}

.add-item-to-page-overlay .search-item-result .item-result
.card .item .image {
  height: 80%;
}

.add-item-to-page-overlay .search-item-result .item-result
.card .item .image img {
  width: 80%;
}

.add-item-to-page-overlay .search-item-result .fields {
  width: 320px;
}

.add-item-to-page-overlay .search-item-result .fields
input:disabled {
  border: none;
  font-size: 14px;
  padding: 0.5em 0;
} */
