.user {
  margin: 0 16px;
}

.user .form {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}

.user .form-box .form {
  gap: unset;
}

.user .form-box .form .user-photo{
  margin: unset;
  margin-top: 40px;
}

.user form .fields {
  width: 304px;
}

.user .form-box {
  width: 540px;
}

.user .form-box .fields {
  width: 364px;
}

.user-photo {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: auto;
}

.photo {
  border: 2px solid #11626B;
  height: 180px;
  max-height: 180px;
  max-width: 150px;
  width: 150px;
}

.photo > img {
  height: 100%;
  width: 100%;
}

.custom-input-file .field {
  display: none;
}

.custom-input-file > .button-box {
  display: inline-block;
}

.sensitive-fields {
  margin-top: 24px;
}
